<section>
  <h1>About</h1>

  <p>Welcome to SoutHACKton, the Southampton Hackerspace project.</p>

  <p>We are a community of makers, tinkerers and artists. Our aim is to share
  skills and tools to allow anyone to create something amazing, regardless of
  experience. If you always wanted to make something but
  don’t know how then our members will be more than happy to help you.</p>

  <p> We have regular meetings - experience is
  unnecessary! <a href="/about/">Find out more</a></p>

</section>
