<section class='upcoming'>
  <h1>Upcoming Events</h1>
  <p class="event"><span class='type'>Meetup</span>: Thurs 27th Sep</p>
  <p class="event"><span class='type'>Hack Day</span>: Sun 14th Oct, 10:30am-4:30pm <a href="/2012/09/19/hack-day/" class="details">(details)</a>
  <p class="event"><span class='type'>Meetup</span>: Thurs 25th Oct</p>
  <p class="event"><span class='type'>Meetup</span>: Thurs 29th Nov</p>
  <hr />
  <p>Meetups are 7:30pm - 9:30pm @ <a href="http://www.thearthousesouthampton.co.uk/">The Art House Cafe</a> (free entry)</p>
  <p class='last-updated'>
    View <a href="http://groups.google.com/group/southackton">our mailing list</a> for more<br />
    Updated: 19th September 2012
  </p>
</section>
<section>
  <h1>Quick Links</h1>

  <p>
    <a href="http://groups.google.com/group/southackton">Mailing list</a><br />
    <a href="https://github.com/SoutHACKton/SoutHACKton/wiki">Wiki</a><br />
    <a href="http://www.facebook.com/SoutHACKton">Facebook page</a><br />
    <a href="http://twitter.com/SoutHACKton">Twitter</a><br />
    <a href="irc://irc.freenode.net/southackton">irc.freenode.net #southackton</a><br />
    <a href="http://www.thearthousesouthampton.co.uk/contact.htm">Arthouse address</a>
  </p>

</section>
<section>
  <h1>About</h1>

  <p>SoutHACKton is a not-for-profit community of makers, tinkerers and
  artists. We have regular meetings - experience is unnecessary! <a
    href="/about/">Find out more</a> or join our <a
    href="http://groups.google.com/group/SoutHACKton/">mailing list</a>.</p>

  <p>Our aim is to establish and maintain a well-equiped space where
  members can share skills and tools to allow people of all abilities to create
  something amazing, regardless of experience, whether it be: craft,
  electronics, wood- and metal-work, knitting, programming, modification
  (a.k.a. hacking), robotics, home automation or something else. </p>

</section>
