<section>
<h1>Calendar</h1>
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=170&amp;wkst=1&amp;bgcolor=%23cccccc&amp;src=c3at705hnnkj664j2gesvsnvh8%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="260" height="220" frameborder="0" scrolling="no"></iframe>
<p>You can <a href="http://www.google.com/calendar/ical/c3at705hnnkj664j2gesvsnvh8%40group.calendar.google.com/public/basic.ics">subscribe to the iCal</a> or <a href="http://www.google.com/calendar/feeds/c3at705hnnkj664j2gesvsnvh8%40group.calendar.google.com/public/basic">XML</a>.</p>
</section>
<section>
  <h1>Quick Links</h1>

  <p>
    <a href="http://groups.google.com/group/southackton">Mailing list</a><br />
    <a href="https://github.com/SoutHACKton/SoutHACKton/wiki">Wiki</a><br />
    <a href="http://www.facebook.com/SoutHACKton">Facebook page</a><br />
    <a href="http://twitter.com/SoutHACKton">Twitter</a><br />
    <a href="irc://irc.freenode.net/southackton">irc.freenode.net #southackton</a><br />
    <a href="http://www.thearthousesouthampton.co.uk/contact.htm">Arthouse address</a>
  </p>

</section>
<section>
  <h1>About</h1>

  <p>SoutHACKton is a not-for-profit community of makers, tinkerers and
  artists. We have regular meetings - experience is unnecessary! <a
    href="/about/">Find out more</a> or join our <a
    href="http://groups.google.com/group/SoutHACKton/">mailing list</a>.</p>

  <p>Our aim is to establish and maintain a well-equiped space where
  members can share skills and tools to allow people of all abilities to create
  something amazing, regardless of experience, whether it be: craft,
  electronics, wood- and metal-work, knitting, programming, modification
  (a.k.a. hacking), robotics, home automation or something else. </p>

</section>
