// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

body > header {
  background-image:url(/images/bkg@2x.png);
  background-size: 2400px 268px;
  background-position:top left;

  padding:0;

  hgroup {
    padding: 1.5em 55px;
    @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
  }

  h1,h2 {
    display: block;
    margin-left: 80px;
    margin-bottom: 20px;
  }
  h1 {
    margin-top: 42px;
    background-image: url(/images/title.png);
    background-repeat: no-repeat;
    background-size: 558px 74px;
    display:block;
    width:100%;
    height: 74px;
  }
  h1 a, h1 a:hover, h1 a:active, h1 a:visited {
    /*text-shadow: black 1px 2px 5px;*/
    /*font-weight:bold;*/
    display: block;
    text-indent: -1999px;
    overflow: hidden;
  }
  h2 {
    /*text-shadow: black 0px 1px 6px;*/
    /*font-weight:bold;*/
    /*color:white;*/
    text-indent: -1999px;
    overflow: hidden;
    background-image: url(/images/subTitle.png);
    background-repeat: no-repeat;
    background-size: 558px 34px;
    display:block;
    width:100%;
    height: 34px;
  }
}

@media all and (max-width: 800px) {
  body > header {
    h1,h2 {
      margin-left:0px;
    }
  }
}

@media all and (max-width: 670px) {
  body > header {
    background-size: 1200px 134px;
    h1, h2 {
      margin: 0;
    }
    h1 {
      background-size: 279px 37px;
      height: 37px;
      margin-bottom: 15px;
    }
    h2 {
      background-size: 279px 17px;
      height: 17px;
    }
  }
}


a.punch {
  display:inline-block;
  color:white;
  text-decoration:none;
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111);
  color: #fff;
  font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  width: 150px;
  -webkit-background-clip: padding-box;

  &:hover {
    @include box-shadow(inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111);
    cursor: pointer;
  }

  &:active {
    @include box-shadow(inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111);
    margin-top: 6px;
    margin-bottom: 4px;
  }
}

aside section:first-child {
}

aside section.upcoming {
  @include border-radius(15px);
  background-color: rgba(230,240,245,0.8);
  border: 4px solid rgb(0,76,146);
  padding:2px 15px 10px;
  margin:2px;
  h1 {
    margin-top: 10px;
  }
  p {
    padding: 0px;
    margin: 10px 0;
  }
  a.details {
    font-style: italic;
  }
  .type {
    font-weight: bold;
  }
  .last-updated {
    text-align: right;
    color: rgba(0,0,0,0.5);
    font-size:0.9em;
    font-style: italic;
    margin:0;
    padding: 0;
  }
}

aside.sidebar section.upcoming {
  margin-top:18px;
}

@media all and (max-width: 750px) {
  #content .blog-index article h1 {
    font-size: 1.6em;
  }
}

// Sebastian Wallace's new design
$seb-light-color: rgb(248,248,248);
$seb-dark-color: rgb(217,217,217);
body > header {
  background-image: url(/images/hackbanner.png);
  background-repeat: no-repeat;
  background-color: $seb-light-color;
  background-position: 50% 0%;
  background-size: auto 100%;
  h1, h2 {
    visibility: hidden;
  }
  hgroup {
    background: transparent;
  }
}
html {
  @include background(none, linear-gradient($seb-dark-color, $seb-dark-color));
  background-color: $seb-light-color;
  background-position: 0 263px;
  background-size: 100% 44px;
  background-repeat: no-repeat;
}
body > nav {
  border: {
    top: 1px solid darken($seb-dark-color, 4%);
    top: none;
    bottom: none;
  }
  background: $seb-dark-color;
  font-variant: small-caps;
  a, a:visited {
    color: black;
  }
}
